<!-- <div class="container-fluid">
  <div class="">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h3 class="text-center">{{this.studyContent?.title}}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        
      </div>
    </div>
  </div>
</div> -->




<mat-card class="example-card video_card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.studyContent?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <video #myvid id="my-video" class="video-js vjs-big-play-centered mini-play" [poster]="this.studyContent?.poster"
      style="margin: auto;">
    </video>
  </mat-card-content>
  <button mat-raised-button [disabled]="!(userStateData && userStateData.docId)" (click)="downloadVideo()">Download Video</button>
</mat-card>