.popup {
  max-width: 100%;
  min-width: 100%;

}

.popup-bg {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.quest_ans {
  padding: 50px 30px;

}

.video_card {
  margin-top: 110px;
}

/* .my-video-dimensions {
    width: 640px;
    height: 360px;
} */

.ques {
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 767px) {


  /* .my-video-dimensions {
    width: 260px;
  } */
}
