<mat-toolbar color="primary" class="header_tab" >
  <mat-toolbar-row class="space_btwn">
    <span (click)="navigateToRevise()">Tata Class Edge</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <span *ngIf="isLogin" (click)="logout()">Logout</span>
  </mat-toolbar-row>

</mat-toolbar>
