.revise_con {
  position: relative;
  top: 40%;
  left: 40%;
  margin-top: 100px;
}

.card {
  background-color: grey;
  width: 235px
}

.revise_btn {
  color: black;
  background: #ffff
}

@media (max-width: 767px) {
  .revise_con {
    position: relative;
    top: 40%;
    left: 15%;
    margin-top: 100px;
  }
  .card {
    width: 184px;
}
}