<div class="revise_con" *ngFor="let option of myData">
    <mat-card class="card">
    <button mat-button class="revise_btn" (click)="revise(option.docId);">{{option.title}}</button>
  </mat-card>
</div>