<h3>Q.{{currentActivity.questionText}}</h3>
<mat-selection-list #activity>
  <mat-list-option *ngFor="let option of currentActivity.options">
    {{option}}
  </mat-list-option>
</mat-selection-list>
<div style="float: right; margin-top: 10px;">
  <button type="button" mat-raised-button (click)="submit()" [disabled]="activity.selectedOptions.selected.length === 0">Submit</button>
</div>